<div class="columns mt-5">
  <div class="column is-3">

  </div>
  <div class="column mt-5 has-text-centered">

    <div class="columns">

      <div class="column is-2">

      </div>

      <div class="column">

        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag(@response.thumbnail_url, :alt => "placeholder") %>
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-left">
              <p class="subtitle is-5"><%= @response.title %></p>
              <p><%= @response.price %>원</p>
              <p><%= @response.trade_address %></p>
              <p><%= @response.content %></p>
              <p><%= @response.fleamarket_post_interested.count %> 관심</p>
            </div>


          </div>
        </div>


      </div>

      <div class="column is-2">

      </div>

    </div>


  </div>

  <div class="column is-3">

  </div>
</div>
